# Data Analyst Summary
### Pandas tools and Data analyst

## Table of contents
* [Introduction: Business Problem](#introduction)
* [Dropping values, Finding and managing with NaNs, rename columns](#NaNs_dropping)
    * [Dropping](#Dropping)
    * [NaNs](#NaN)
    * [Rename columns ](#name_columns)
* [Methodology](#methodology)
* [Analysis](#analysis)
* [Results and Discussion](#results)
* [Conclusion](#conclusion)

In [2]:
import pandas as pd



## Introduction: Business Problem <a name="introduction"></a>

In [3]:
pd.set_option('display.max_columns', None)



## Dropping values, Finding and managing with NaNs, rename columns  <a name="NaNs_dropping"></a>

### Dropping values <a name="Dropping"></a>

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns                       #visualisation
import matplotlib.pyplot as plt             #visualisation
%matplotlib inline     
sns.set(color_codes=True)

In [5]:
df = pd.read_csv("data.csv")
# To display the top 5 rows 
df.head(5)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [6]:
df.dtypes

Make                  object
Model                 object
Year                   int64
Engine Fuel Type      object
Engine HP            float64
Engine Cylinders     float64
Transmission Type     object
Driven_Wheels         object
Number of Doors      float64
Market Category       object
Vehicle Size          object
Vehicle Style         object
highway MPG            int64
city mpg               int64
Popularity             int64
MSRP                   int64
dtype: object

In [7]:
df = df.drop(['Engine Fuel Type', 'Market Category', 'Vehicle Style', 'Popularity', 'Number of Doors', 'Vehicle Size'], axis=1)
df.head(5)

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,highway MPG,city mpg,MSRP
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,rear wheel drive,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,28,18,34500

In [8]:
duplicated = df[df.duplicated()]

In [9]:
duplicated[duplicated['Make'] == 'Suzuki']

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,highway MPG,city mpg,MSRP
4223,Suzuki,Esteem,2000,122.0,4.0,MANUAL,front wheel drive,31,24,2000
6287,Suzuki,Kizashi,2012,180.0,4.0,AUTOMATIC,all wheel drive,29,22,27549
6288,Suzuki,Kizashi,2012,180.0,4.0,AUTOMATIC,front wheel drive,30,23,26199
9182,Suzuki,Sidekick,1996,95.0,4.0,MANUAL,rear wheel drive,24,21,2000
9183,Suzuki,Sidekick,1996,95.0,4.0,MANUAL,four wheel drive,24,21,2000
9184,Suzuki,Sidekick,1996,120.0,4.0,MANUAL,four wheel drive,23,20,2000
9189,Suzuki,Sidekick,1997,95.0,4.0,MANUAL,rear wheel drive,24,21,2000
9191,Suzuki,Sidekick,1997,95.0,4.0,MANUAL,four wheel drive,24,21,2000
9197,Suzuki,Sidekick,1998,95.0,4.0,MANUAL,four wheel drive,24,21,2000
10112,Suzuki,Swift,2000,79.0,4.0,MANUAL,front wheel drive,38,31,2000
11481,Suzuki,X-90,1998,95.0,4.0,MANUAL,four wheel drive,26,22,2000
11708,Suzuki,XL7,2008,252.0,6.0,AUTOMATIC,all wheel drive,22,15,29149
11717,Suzuki,XL7,2008,252.0,6.0,AUTOMATIC,front wheel drive,22,16,27499

In [10]:
df.count()      # Used to count the number of rows

Make                 11914
Model                11914
Year                 11914
Engine HP            11845
Engine Cylinders     11884
Transmission Type    11914
Driven_Wheels        11914
highway MPG          11914
city mpg             11914
MSRP                 11914
dtype: int64

In [11]:
df = df.drop_duplicates()

In [12]:
df.count()

Make                 10925
Model                10925
Year                 10925
Engine HP            10856
Engine Cylinders     10895
Transmission Type    10925
Driven_Wheels        10925
highway MPG          10925
city mpg             10925
MSRP                 10925
dtype: int64

### Rename columns <a name="name_columns"></a>

In [13]:
df = df.rename(columns={"Engine HP": "HP", "Engine Cylinders": "Cylinders", "Transmission Type": "Transmission", "Driven_Wheels": "Drive Mode","highway MPG": "MPG-H", "city mpg": "MPG-C", "MSRP": "Price" })
df.head(5)

,Make,Model,Year,HP,Cylinders,Transmission,Drive Mode,MPG-H,MPG-C,Price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,rear wheel drive,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,28,18,34500

In [14]:
df.shape

(10925, 10)

### Findind NaNs Values <a name="NaN"></a>

In [15]:
print(df.isnull().sum())

Make             0
Model            0
Year             0
HP              69
Cylinders       30
Transmission     0
Drive Mode       0
MPG-H            0
MPG-C            0
Price            0
dtype: int64

In [16]:
df[['Year', 'HP', 'Cylinders', 
    'MPG-H', 'MPG-C', 'Price' ]] = df[['Year', 'HP', 'Cylinders',
                                       'MPG-H', 'MPG-C', 'Price']].apply(pd.to_numeric, errors='coerce')
# The default return dtype is float64 or int64 depending on the data supplied
# If ‘coerce’, then invalid parsing will be set as NaN.

In [17]:
print(df.isnull().sum())

Make             0
Model            0
Year             0
HP              69
Cylinders       30
Transmission     0
Drive Mode       0
MPG-H            0
MPG-C            0
Price            0
dtype: int64

In [18]:
df.head(10)

,Make,Model,Year,HP,Cylinders,Transmission,Drive Mode,MPG-H,MPG-C,Price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,rear wheel drive,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,28,18,34500
5,BMW,1 Series,2012,230.0,6.0,MANUAL,rear wheel drive,28,18,31200
6,BMW,1 Series,2012,300.0,6.0,MANUAL,rear wheel drive,26,17,44100
7,BMW,1 Series,2012,300.0,6.0,MANUAL,rear wheel drive,28,20,39300
8,BMW,1 Series,2012,230.0,6.0,MANUAL,rear wheel drive,28,18,36900
9,BMW,1 Series,2013,230.0,6.0,MANUAL,rear wheel drive,27,18,37200

### Dropping the rows having a specific column with a NaN value

In [19]:
df = df[pd.notnull(df["HP"])]
df = df.reset_index(drop=True)
print(df.isnull().sum())

Make             0
Model            0
Year             0
HP               0
Cylinders       29
Transmission     0
Drive Mode       0
MPG-H            0
MPG-C            0
Price            0
dtype: int64

### Dropping all the rows having a NaN value in any column

In [20]:
df = df.dropna()    # Dropping the missing values.
print(df.isnull().sum())

Make            0
Model           0
Year            0
HP              0
Cylinders       0
Transmission    0
Drive Mode      0
MPG-H           0
MPG-C           0
Price           0
dtype: int64